body{
    margin: 0;
    font-family: DM Sans, sans-serif;
    color: rgb(46, 46, 46);
    background-color: rgb(240, 234, 204);
}

header {
    padding: 2rem 5%;
}

header .navbar {
    background-color: rgb(240, 222, 64);
}

header .me-2{
    border-color: rgb(175, 79, 0);
    color: rgb(212, 67, 0);
    background-color: rgb(253, 211, 183);
}

header .btn-sm {
    color: rgb(0, 134, 60);
    border-color: rgb(0, 134, 60);
    background-color: rgb(220, 245, 226);
}

header .right{
    margin-left: 0.5rem;
    color: rgb(13, 0, 202);
    border-color: rgb(13, 0, 202);
    background-color: rgb(238, 238, 252);
}

body header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

body header h2 {
    text-align: center;
}

body header p {
    text-align: center;
}

.btn {
    font: inherit;
    padding: 0.5 1.5rem;
    border: 1px solid;
    color: rgb(0, 134, 60);
    border-color: rgb(0, 134, 60);
    background-color: rgb(220, 245, 226);
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: rgb(45, 134, 45);
}

.btn:hover {
    background-color: rgb(10, 190, 34);
    border-color: rgb(10, 190, 34);
}

.btn-alt:hover {
    background-color: rgb(123, 202, 133);
    border-color: rgb(45, 134, 45);;
}