/* These are mobile styles  */
#modal {
    position: fixed; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    top: 20%;
    left: 5%;
    width: 90%; /* 90% width (cover the whole page) */
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2); 
     cursor: pointer; /* Add a pointer on hover */
}

@media (min-width: 48rem) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}
